body {
	font-size: 16px;
	min-height: 1500px;
	position: relative;
	overflow-x: hidden;
}

#fitness-nav {
	height: 4rem;
}

.top-layer {}


/* making buttons collapse earlier */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

#wrapper.toggled {
	padding-left: 220px;
}

#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #777;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

#the-three {
	margin-left: 4rem !important;
	margin-top: -0.37rem !important;
	color: dimgray;
	width: 4rem;
	height: 4.0rem;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
	padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: slateblue;
	-webkit-transition: width .8s ease-in;
	-moz-transition: width .8s ease-in;
	-ms-transition: width .8s ease-in;
	transition: width .8s ease-in;
}


/*
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
*/

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}

.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 20px;
	z-index: 435653864999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
	border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	outline: none;
}

.hamburger.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
	top: 5px;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
	top: 50%;
	margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
	bottom: 5px;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
	top: 0;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
	bottom: 0;
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;
}

.hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
	display: none;
}

.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}


/*-------------------------------*/


/*            Overlay            */


/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250, 250, 250, .8);
	z-index: 1;
}


/*--------Off Canvas End Here-------------------------------------------------------*/

.logo-type-stlye {
	font-family: 'Titillium Web';
	color: darkgrey;
	clear: both;
	font-size: 4rem;
	margin-right: 4rem;
	margin-bottom: 2rem;
}

.logo-type-stlyes {
	font-family: 'Titillium Web';
	color: white;
	clear: both;
	font-size: 4rem;
	margin-right: 0rem;
	background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 1rem;
}

.logo-spacer {
	height: 2px;
	margin-left: 40rem;
	margin-right: 1rem;
	width: 200px;
	margin-top: 1rem;
	position: fixed;
	z-index: -2134364357567;
}

.nav-space {
	height: 4rem;
	color: darkgrey;
	position: fixed;
	background-color: rgba(242, 244, 247, 0.7);
	margin-right: 2rem;
	max-width: 1200px;
}

.menu {
	margin-top: 1rem;
	margin-left: 1rem;
}

.fa .fa-bars {
	color: darkgray;
	z-index: 3454576876697;
}

#hero-runner {
	width: 100%;
	margin-bottom: 0rem;
}

.hero-runner {
	width: 100%;
	height: 85rem;
	background-image: url(../img/track-runner.jpg);
	background-size: cover;
	max-width: 3600px;
	text-align: center;
	font-family: 'Titillium Web';
	margin-top: -8rem;
	color: white;
}

.runner-title {
	margin-bottom: 3rem;
	margin-top: 40rem;
	font-size: 7rem;
}

#front-button {
	border-radius: 1px 1px 1px 1px;
	background-color: transparent;
	color: white;
	border-style: solid 2px;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

#front-button:hover {
	background-color: white;
	color: darkgrey;
}

.runner-tag {
	margin-bottom: 5rem;
	font-size: 2rem;
}

#first-movement {
    height: inherit;
}

.yoga {
	background-image: url(../img/yoga.jpg);
	background-size: cover;
	height: 35rem;
	width: inherit;
    margin-bottom: auto;
}

.yoga-learn {
	background-color: grey;
	color: white;
	height: 35rem ;
    margin-bottom: auto;
}

.yoga-text {
	font-family: 'Lato', sans-serif;
	margin-bottom: 3rem;
	margin-top: 4rem;
}

.yoga-copy {
	font-family: 'Lato', sans-serif;
	margin-bottom: 3rem;
	margin-right: 4rem;
}

#wheel-champ {
    height: inherit;
}

.wheel-lady {
	background-image: url(../img/chair-lady.jpg);
	background-size: cover;
	width: 100%;
	height: 35rem;
    margin-top: auto;
}

.wheel-title {
	font-size: 5rem;
	color: white;
	font-family: 'Titillium Web';
	margin-top: 7rem;
	margin-left: 5rem;
}

.wheel-text {
	margin-left: 5rem;
	font-family: 'Lato', sans-serif;
	line-height: inherit;
	color: white;
	font-size: 1.5rem;
}

.wheel-copy {
	margin-left: 1rem;
	list-style: none;
	line-height: 3.5rem;
}

#2nd-movement {}

.yoga-texts {
	margin-top: 8rem;
	margin-left: 3rem;
}

.yoga-copys {
	font-family: 'Lato', sans-serif;
	margin-bottom: 1rem;
	margin-top: 2rem;
	margin-left: 3rem;
}

#front-button-soccer {
	border-radius: 1px 1px 1px 1px;
	background-color: transparent;
	color: white;
	border-style: solid 2px;
    margin-bottom: 3rem;
}

#front-button-soccer:hover {
	background-color: white;
	color: darkgrey;
}

.soccer-runner {
	background-color: grey;
	color: white;
	height: 35rem;
}

.soccer {
	background-image: url(../img/rugby.jpg);
	background-size: cover;
	height: 35rem;
}

#future-runner {}

.bio-title {
	font-family: 'Titillium Web';
	color: rebeccapurple;
	text-align: center;
	margin-top: 45rem;
	font-size: 7rem;
	text-shadow: rgba(0, 0, 0, 0.7)
}

.bio-runner {
	background-image: url(../img/rio-runner.jpg);
	background-size: cover;
	height: 80rem;
	width: 100%;
}

#bio-button-soccer {
	border-radius: 1px 1px 1px 1px;
	background-color: transparent;
	color: white;
	border-style: solid 2px;
	margin-top: 3rem;
}

#bio-button-soccer:hover {
	background-color: white;
	color: darkgrey;
}


/*
#footer {

    background-color:#333;
    height:40rem;
    width: 100%;       }
*/


/*
.footer-content  {

    color:white;
    margin-top: 6rem;


}


}

.footer-hov  {
    color:white;

}

.footer-hov:hover  {
    color:gray;

}
*/


/*
.sect-footer  {

    text-align: left;

}

.list-content  {
    list-style: none;
    text-decoration: none;
    line-height: 4rem;
    margin-top: 3rem;
    text-align: left;
    margin-left: -4rem;



}

#social>li  {
    display: inline;
    margin-right: 2rem;




}

.final>li  {

    display: inline;
    margin-right: 5rem;
    color: grey;



}

.copy-right  {

    margin-top: 8rem;
    text-align: left;
    margin-left: -4rem;
    height: 5rem;
    padding-top: 1rem;
    width: 100%;


}
*/

.full {
	width: 100%;
}

.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer p {
	margin: 0;
}

.footer img {
	max-width: 100%;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.footer a {
	color: #78828D;
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}

.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}

.newsletter-box {
	overflow: hidden;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}


/*
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
*/


/*
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}


*/


/*
.social li a {
	color: #444;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
*/

.social li {
	display: inline;
	margin: 10px;
	padding: 0;
	float: left;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}

.payments {
	font-size: 1.5em;
}


/*-------Media Queiries Here------------------------------------------------------------------------------------------------------------------------------------------*/


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width:320px) and (max-width:480px) {
	.hero-runner {
		margin-top: -48rem;
		height: 49rem;
	}
	.runner-title {
		padding-top: 15rem;
		font-size: 5.5rem;
		text-align: center;
	}
	.yoga-text {
		margin-left: 2rem;
	}
	.yoga-copy {
		padding-right: 8rem;
		margin-left: 2rem;
	}
	.yoga-learn {
		height: 350px;
		padding-bottom: 2rem;
		text-align: left;
	}
	#front-button {
		margin-left: 2rem;
        margin-bottom: 4.8rem;
	}
	.wheel-title {
		margin-left: 1rem
	}
	.wheel-lady {
		height: 550px;
		margin-bottom: 0rem;
	}
	.wheel-copy {
		margin-left: -3rem;
		padding-right: 4rem;
	}
	.soccer-runner {
		margin-top: -8rem;
	}
	.yoga-texts {
		padding-top: 8rem;
	}
	.yoga-copys {
		padding-right: 3.2rem;
	}
	.bio-runner {
		margin-top: -45rem;
		height: 45rem
	}
	.bio-title {
		padding-top: 14rem;
		font-size: 6rem
	}
}


/* Extra Small Devices, Phones */

@media only screen and (min-width:480px) and (max-width:767px) {
	.hero-runner {
		margin-top: -48rem;
	}
	.runner-title {
		padding-top: 35rem;
		font-size: 5rem;
	}
	.yoga-text {
		text-align: center;
		margin-right: -1rem;
	}
	.yoga-copy {
		text-align: center;
		mar
	}
	.yoga-learn {
		height: ;
		padding-bottom: 2rem;
	}
	#front-button {
		margin-bottom: 1rem;
		text-align: center;
		margin-left: 23rem
	}
	.wheel-title {
		margin-left: 1rem
	}
	.wheel-lady {
		height: 550px;
		margin-bottom: 0rem;
		height: 35rem;
	}
	.wheel-copy {
		margin-left: -3rem;
		padding-right: 4rem;
	}
	.soccer-runner {
		margin-top: -8rem;
	}
	.yoga-texts {
		padding-top: 8rem;
		text-align: center
	}
	.yoga-copys {
		padding-right: 12rem;
		text-align: center;
		padding-left: 12rem;
	}
	#front-button-soccer {
		margin-left: 25rem;
	}
	.bio-runner {
		margin-top: -45rem;
		height: 35rem
	}
	.bio-title {
		padding-top: 14rem;
		font-size: 6rem
	}
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hero-runner {
		margin-top: -48rem;
	}
	.runner-title {
		padding-top: 25rem;
		font-size: 5rem;
	}
	.bio-title {
		padding-top: 10rem;
		font-size: 6rem;
		margin-top: 22rem;
	}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
